.texto-medidas{
    font-family: Emigre, sans-serif;
    font-size: 19px;
    color: black;
    width: 100%;
    margin: 50px auto 75px;
    line-height: 28px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.columna{
    width: 25%;
    float: left;
    text-align: center;
}

img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.desc{
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    font-family: Emigre, sans-serif;
}